
%button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.8px;
  transition: all .2s;
  padding: 16px 32px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 40;
  text-align: center
}

.button_one {
  @extend %button;
  background-color: #D87D4A;
  color: #fff;

  &:hover {
    background-color: #fbaf85;
  }
}

.button_two {
  @extend %button;
  background-color: transparent;
  color: #101010;
  border: 1px solid #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.button_three {
  @extend %button;
  background-color: transparent;
  color: #808080;
  font-weight: 600;
  display: flex;
  align-items: center;

  &:hover {
    color: #D87D4A;
  }

  &::after {
    content: '';
    width: 8px;
    height: 12px;
    background-image: url('../../public/assets/shared/icon-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
  }
}

.button_four {
  @extend %button;
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: #808080;
  }
}