@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.wrapper {
  @include flexy;
  margin-bottom: $m10;
}

.container {
  position: relative;
  width: $width;
  @include flexy;

  @media (min-width: $desktop) {
    @include flexy($dir: row);
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;

  @media (min-width: $desktop) {
    height: 588px;
    width: 50%;
    margin-left: $m8;
  }
}

.img {
  border-radius: 8px;
}

.dataContainer {
  @include flexy;
  width: 100%;
  
  @media (min-width: $desktop) {
    width: 50%;
    order: -1;
    @include flexy($align: flex-start);
  }
}

.title {
  text-transform: uppercase;
  font-size: $fontSize7;
  font-weight: $bold;
  text-align: center;
  letter-spacing: 1px;
  width: 16ch;

  @media (min-width: $tablet) {
    font-size: $fontSize8;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.accent {
  color: $color-accent;
}

.text {
  margin-top: $m0;
  text-align: center;
  color: $color-dark-tertiary;
  font-weight: $light;
  font-size: $fontSize4;
  line-height: 25px;
  max-width: 65ch;

  @media (min-width: $desktop) {
    text-align: left;
  }
}