@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.wrapper {
  @include flexy;
  margin-bottom: $m10;
}

.container {
  width: $width;
  @include flexy($justify: start);
}

.imgContainer {
  border-radius: 8px;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-size: $fontSize7;
  font-weight: $extra-bold;
  text-align: center;
  letter-spacing: 1px;
  width: 16ch;
}

.accent {
  color: $color-accent;
}

.text {
  margin-top: $m0;
  text-align: center;
  color: $color-dark-tertiary;
  font-weight: $light;
  line-height: 25px;
}