@import '../styles/variables.module.scss';

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.8px;
  transition: all .2s;
  width: fit-content;
  padding: 16px 32px;
  cursor: pointer;
  position: relative;
  z-index: 100;

  &_one {
    @extend .button;
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent-secondary;
    }
  }

  &_two {
    @extend .button;
    background-color: $color-white;
    color: $color-dark;
    border: 1px solid $color-black;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &_three {
    @extend .button;
    background-color: transparent;
    color: $color-dark-secondary;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-accent;
    }

    &::after {
      content: '';
      width: 8px;
      height: 12px;
      background-image: url('../public/assets/shared/icon-arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 12px;
    }
  }

  &_four {
    @extend .button;
    background-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-dark-secondary;
    }
  }
}