@import '../styles/variables.module.scss';

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;

  &_one {
    background-color: $color-accent;
    color: $color-light;
  }

  &_two {
    background-color: $color-light;
    color: $color-dark;
  }
}