@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.container {
  @include flexy;
  background-color: $color-accent;
  border-radius: 8px;
  height: 600px;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: $m5;

  @media (min-width: $tablet) {
    height: 720px;
  }

  @media (min-width: $desktop) {
    @include flexy($dir: row);
    height: 560px;
    margin-bottom: $m8;
  }
}

%circle {
  background-color: transparent;
  border: 1px solid $color-accent-secondary;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.circle_small {
  @extend %circle;
  width: 280px;
  height: 280px;
  top: 35px;

  @media (min-width: $tablet) {
    width: 475px;
    height: 475px;
    top: -5%;
  }

  @media (min-width: $desktop) {
    top: 50%;
    left: 9%;
  }
}

.circle_med {
  @extend %circle;
  width: 320px;
  height: 320px;
  top: 15px;

  @media (min-width: $tablet) {
    width: 540px;
    height: 540px;
    top: -9%;
  }

  @media (min-width: $desktop) {
    top: 44%;
    left: 6%;
  }
}

.circle_large {
  @extend %circle;
  width: 560px;
  height: 560px;
  top: -50px;

  @media (min-width: $tablet) {
    width: 945px;
    height: 945px;
    top: -35%;
  }

  @media (min-width: $desktop) {
    top: -10%;
    left: -12%;
  }
}

.imgContainer {
  @include flexy;
  width: 50%;
  
  @media (min-width: $tablet) {
    width: 40%;
  }

  @media (min-width: $desktop) {
    width: 60%;
    transform: translateY(50px);
  }
}

.dataContainer {
  @include flexy;

  @media (min-width: $desktop) {
    @include flexy($align: flex-start);
    width: 40%;
  }
}

.title {
  color: $color-white;
  font-size: $fontSize8;
  text-transform: uppercase;
  font-weight: $bold;
  width: 8ch;
  letter-spacing: 1.3px;
  text-align: center;
  position: inherit;
  z-index: 1;
  margin-top: $m3;
  margin-bottom: $m3;

  @media (min-width: $tablet) {
    font-size: $fontSize9;
    line-height: 58px;
    margin-top: $m8;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.text {
  text-align: center;
  margin-top: $m0;
  font-weight: $light;
  color: $color-light-secondary;
  line-height: 25px;
  
  @media (min-width: $tablet) {    
    width: 50ch;
  }

  @media (min-width: $desktop) {
    text-align: left;
    width: 40ch;
  }
}