@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.wrapper {
  background-color: $color-dark;
  @include flexy;
}

.container {
  width: $width;
  @include flexy;

  @media (min-width: $tablet) {
    @include flexy($align: flex-start);
  }
}

.line {
  width: 100px;
  height: 4px;
  background-color: $color-accent;
  margin-bottom: $m8;
}

.logo {
  margin-bottom: $m4;
}

.links_list {
  margin-bottom: $m4;
  @include flexy;

  @media (min-width: $tablet) {
    @include flexy($dir: row);
  }

  &_item {
    text-transform: uppercase;
    font-size: $fontSize3;
    font-weight: $bold;
    letter-spacing: 2px;
    color: $color-white;
    transition: color .2s;

    &:hover {
      color: $color-accent;
    }

    & + & {
      margin-top: $m4;

      @media (min-width: $tablet) {
        margin-top: $m0;
        margin-left: $m6;
      }
    }
  }
}

.text {
  text-align: center;
  color: $color-dark-tertiary;
  font-weight: $light;
  line-height: 25px;
  font-size: $fontSize4;
  margin-bottom: $m4;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.lastRow {
  width: 100%;

  @media (min-width: $tablet) {
    @include flexy($dir: row, $align: center, $justify: space-between);
  }
}

.copyRightText {
  text-align: center;
  font-weight: $extra-bold;
  color: $color-dark-tertiary;
  margin-bottom: $m7;
}

.socialLinks_list {
  @include flexy($dir: row);
  margin-bottom: $m8;

  @media (min-width: $tablet) {
    @include flexy($dir: row, $justify: flex-start);
  }

  &_item {
    & + & {
      margin-left: $m4;
    }
  }
}