.container {
  background-image: url('../public/images/home/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroData {
  display: flex;
  flex-direction: column;
}