@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.container {
  position: relative;
  @include flexy;
  width: 100%;
  margin-top: $m9;

  & + & {
    @media (min-width: $tablet) {
      margin-top: $m0;
      margin-left: $m1;
    }
  }
}

.imgContainer {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 120px;
  margin-bottom: $m4;
}

.title {
  text-align: center;
  margin: $m2;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: $fontSize6;
  letter-spacing: 1.71px;
  margin-bottom: $m4;
  max-width: 15ch;
}