@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

%imgContainer {
  position: relative;
  width: 100%;
}

.imgContainer {
  @extend %imgContainer;
}

.wrapper {
  @include flexy;
}

.container {
  width: $width;
}

.productHeader {
  @include flexy;

  &__imgContainer {
    @extend %imgContainer;
    height: 300px;
  }

  &__dataContainer {
    @include flexy($align: flex-start);
  }

  &__overTitle {
    text-transform: uppercase;
    font-size: $fontSize3;
    font-weight: $regular;
    color: $color-accent;
    letter-spacing: 10px;
  }

  &__title {
    margin-top: $m0;
    font-size: $fontSize7;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 1px;
    max-width: 15ch;
    margin-bottom: $m4;
  }

  &__desc {
    margin-top: $m0;
    color: $color-dark-tertiary;
    font-weight: $light;
    line-height: 25px;
  }

  &__price {
    font-weight: $bold;
    font-size: $fontSize5;
    letter-spacing: 1.29px;
  }
}

.addToCartContainer {
  width: 100%;
  @include flexy($dir: row, $justify: space-between);
}

.qty {
  @include flexy($dir: row);
  width: 45%;

  &__button {
    all: unset;
    color: $color-dark-tertiary;
    font-weight: $bold;
    cursor: pointer;
  }

  &__number {
    margin: 0 $m4;
    font-size: $fontSize4;
    font-weight: $bold;
  }
}

.section {
  width: 100%;
  margin-top: $m8;

  &__title {
    margin-top: $m0;
    font-size: $fontSize6;
    font-weight: $bold;
    letter-spacing: 0.86px;
  }

  &__desc {
    font-size: $fontSize4;
    font-weight: $light;
    color: $color-dark-tertiary;
    line-height: 25px;
  }

  &__list {
    @include flexy($align: flex-start);

    &__item {
      @include flexy($dir: row);
      font-size: $fontSize4;

      &_accent {
        color: $color-accent;
        font-weight: $bold;
        margin-right: $m2;
      }
      
      &_text {
        color: $color-dark-tertiary;
      }
    }
  }
}
