@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.qty {
  @include flexy($dir: row, $justify: space-around);
  @include bg($color: $color-light-secondary);
  padding: $m2;
  width: min(100%, 130px);

  &__button {
    all: unset;
    color: $color-dark-tertiary;
    font-weight: $bold;
    cursor: pointer;
  }

  &__number {
    margin: 0 $m4;
    font-size: $fontSize4;
    font-weight: $bold;
  }
}