@import '../styles/variables.module.scss';
@import '../styles/utils.module.scss';

.bg {
  @include flexy;
  background-color: $color-black;
  padding: $m4 0;
  width: 100%;
}

.container {
  @include flexy;
  width: $width;
}

.title {
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-size: $fontSize7;
  font-weight: $regular;
  letter-spacing: 1.43px;
}