@import '../../styles/variables.module.scss';
@import '../../styles/utils.module.scss';

.wrapper {
  @include flexy;
}

.section__wrapper {
  margin-bottom: $m9;

  @include mq($desktop) {
    @include flexy($dir: row);
  }
  
  & > * + * {
    margin-top: $m8;

    @include mq($desktop) {
      margin-top: $m0;
    }
  }
}

.container {
  width: $width;
}