.container {
  width: min(90%, 1110px);
}

.flexRow {
  display: flex;
  align-items: center;
}

.centerX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerY {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  width: min(90%, 1110px);
}

.textCenter {
  text-align: center;
}

.front {
  position: relative;
  z-index: 100;
}