@import './variables.module.scss';

.fontDark {
  color: $color-dark;
}

.fontLight {
  color: $color-light;
}

.fontAccent {
  color: $color-accent;
}

.textCenter {
  text-align: center;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.headingXxl {
  @extend .heading;
  font-size: 56px;
  line-height: 58px;
  word-spacing: 2px;
}

.headingXl {
  @extend .heading;
  font-size: 40px;
  line-height: 44px;
  word-spacing: 1.5px;
}

.headingL {
  @extend .heading;
  font-size: 32px;
  line-height: 36px;
  word-spacing: 1.15px;
}

.heading {
  @extend .heading;
  font-size: 28px;
  line-height: 38px;
  word-spacing: 2px;
}

.headingS {
  @extend .heading;
  font-size: 24px;
  line-height: 33px;
  word-spacing: 1.7px;
}

.headingXs {
  @extend .heading;
  font-size: 18px;
  line-height: 24px;
  word-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  line-height: 19px;
  word-spacing: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-accent-secondary;
}

.subTitle {
  font-size: 13px;
  line-height: 25px;
  word-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-accent;
}

.bodyCopy {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}