@import '../styles/variables.module.scss';

@mixin flexy($dir: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin bg($color: transparent, $img: none, $size: contain, $repeat: no-repeat, $pos: center) {
  background-color: $color;
  background-image: $img;
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}

.product_categories {
  @include flexy;
  width: $width;

  @media (min-width: $tablet) {
    @include flexy($dir: row);
  }
}

.featured_products {
  @include flexy;
}