$color-dark: #000;
$color-dark-secondary: #101010;
$color-dark-tertiary: #808080;

$color-light: #fff;
$color-light-secondary: #fafafa;
$color-light-tertiary: #f1f1f1;

$color-accent: #D87D4A;
$color-accent-secondary: #fbaf85;