$color-black: #000;
$color-dark: #101010;
$color-dark-secondary: #808080;

$color-white: #fff;
$color-light: #fafafa;
$color-light-secondary: #f1f1f1;

$color-accent: #D87D4A;
$color-accent-secondary: #fbaf85;